nav.bg-dark {
        background-color: #000220 !important;
}

nav {
    
    
    &.navbar {
        background-color: #ffffffa5 !important;
        filter: drop-shadow(0px -9px 13px black);

        &.scrolled {
            background-color: #ffffffd2 !important;
            transition: background-color 200ms linear;
        }
    }

    .navbar-brand a {
        color: #e2e1e1;
        text-decoration: none;
        font-weight: 600;
        color: #000;
        filter: opacity(0.7) drop-shadow(1px 0px 1px #000000);
    }

    a.nav-link a {
        color: #8c8c8c;
        text-decoration: none;
        color: #000;
        font-weight: 600;
        font-size: 14px;
        filter: opacity(0.8);
    }

    .nav-link {
        margin-left: 8px;
    }
}