nav.bg-dark {
        background-color: #000220 !important;
}

nav {
    .navbar-brand a {
        color: #e2e1e1;
        text-decoration: none;
        font-weight: 600;
        color: #000
    }

    a.nav-link a {
        color: #8c8c8c;
        text-decoration: none;
        color: #000
    }
}