.accordion-header {
    .accordion-button {
        color: black;
    }
}

.accordion-body {
    display: flex;
    text-align: initial;
    margin-left: 20px;
    
    a {
        color: black;
    }
}

button.accordion-button:not(.collapsed) {
    background-color: #d9e1eb!important;
    color: #2e3272 !important;
}

span {
    margin-left: 20px;
}

span.calendar-link {
    margin-left: 8px;
    font-size: 12px;
}

.cal-icon {
    background-color: white;
    color: rgb(16, 1, 186);
    font-size: 12px;
}


span.zoom-link {
    margin: 0;
}

p.meeting-count {
    text-align: start;
}